# See https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# env files
.env*.local

# Build
#TODO: remove astro + dist
.turbo
.vercel
.output
.nitro
node_modules

# System Files
.DS_Store
Thumbs.db

# Playwright
test-results/
playwright-report/

.pnpm-store