---
import { Graph } from '#/components/graph'
import { HomeButton } from '#/components/home-button'
import { SearchBar } from '#/components/search-bar'
import { db } from '#/db/connection'
import { getRatings } from '#/lib/imdb/ratings'
import { type Ratings } from '#/lib/imdb/types'
import Layout from '#/pages/_Layout.astro'

const showId = Astro.params.id

if (!showId) {
	return Astro.redirect('/404')
}
const ratings = await getRatings(db, showId)
if (!ratings) {
	return Astro.redirect('/404')
}

function hasRatings(ratings: Ratings): boolean {
	for (const seasonRatings of Object.values(ratings.allEpisodeRatings)) {
		for (const episode of Object.values(seasonRatings)) {
			if (episode.numVotes > 0) {
				return true
			}
		}
	}
	return false
}
---

<Layout>
	<header class="flex justify-center gap-2 border-b px-5 py-2">
		<HomeButton />
		<SearchBar className="max-w-md" client:load />
	</header>

	<div class="xs:px-2 min-h-[250px] px-1 py-4 sm:px-5">
		{
			!hasRatings(ratings) ? (
				<h1 class="pt-8 text-center text-6xl leading-tight">
					No Ratings Found
				</h1>
			) : (
				<Graph client:only="react" ratings={ratings}>
					<div slot="fallback" class="flex flex-1 items-center justify-center">
						<h1 class="animate-pulse rounded-md text-xl">LOADING...</h1>
					</div>
				</Graph>
			)
		}
	</div>
</Layout>
