services:
  server:
    image: aamini/imdbgraph:main
    build:
      context: ../..
      dockerfile: apps/imdbgraph/Dockerfile
      platforms:
        - linux/amd64
        - linux/arm64
    ports:
      - 4321:4321
  e2e:
    environment:
      - BASE_URL
    image: imdbgraph-e2e
    build:
      context: ../..
      dockerfile: apps/imdbgraph/Dockerfile.e2e
    volumes:
      - ./e2e:/app/apps/imdbgraph/e2e
      - ./test-results:/app/apps/imdbgraph/test-results
      - ./playwright-report:/app/apps/imdbgraph/playwright-report
