---
import Layout from '#/pages/_Layout.astro'
import Hero from '#/components/hero.astro'
import Divider from '#/components/divider.astro'
import { Testimonials } from '#/components/testimonials'
import Footer from '#/components/footer.tsx'
import Services from '#/components/services.astro'
import Header from '#/components/header.astro'
---

<Layout>
	<div class="min-h-screen bg-stone-50">
		<Header />
		<main class="mx-auto flex max-w-5xl flex-col gap-16 p-6 sm:p-10 lg:p-16">
			<Hero />
			<Divider />
			<Services />
			<Divider />
			<Testimonials client:load />
		</main>
		<Footer client:load />
	</div>
</Layout>
