---
import '#/styles/globals.css'
import Hero from '#/components/hero.astro'
import Divider from '#/components/divider.astro'
import { Testimonials } from '#/components/testimonials'
import Footer from '#/components/footer.tsx'
import Services from '#/components/services'
import Header from '#/components/header.astro'
import { Font } from 'astro:assets'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/icon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>PC Tune-Ups</title>
		<meta
			name="description"
			content="PC Tune-Ups delivers fast, professional phone, tablet, and computer repairs in Metairie with certified technicians and concierge-level service."
		/>
		<meta
			name="keywords"
			content="pc repair, iphone repair, tablet repair, laptop repair, metairie, new orleans, kenner, LA"
		/>
		<Font cssVariable="--font-family-sans" preload />
		<Font cssVariable="--font-family-mono" preload />
	</head>
	<body
		class="m-0 h-full min-h-screen w-full min-w-[20rem] bg-stone-50 font-sans text-stone-900 antialiased"
	>
		<Header />
		<main class="mx-auto flex max-w-5xl flex-col gap-16 p-6 sm:p-10 lg:p-16">
			<Hero />
			<Divider />
			<Services />
			<Divider />
			<Testimonials client:load />
		</main>
		<Footer client:load />
	</body>
</html>
