---
apiVersion: v1
kind: Namespace
metadata:
  name: networking
---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: cert-manager
  namespace: flux-system
spec:
  interval: 10m
  url: https://charts.jetstack.io
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cert-manager
  namespace: networking
spec:
  interval: 10m
  chart:
    spec:
      chart: cert-manager
      version: '1.x'
      sourceRef:
        kind: HelmRepository
        name: cert-manager
        namespace: flux-system
  values:
    installCRDs: true
    extraArgs:
      - --enable-gateway-api
      - --issuer-ambient-credentials
    podLabels:
      azure.workload.identity/use: 'true'
    serviceAccount:
      labels:
        azure.workload.identity/use: 'true'
      annotations:
        azure.workload.identity/client-id: ${CERT_MANAGER_CLIENT_ID}
