@import url('https://fonts.cdnfonts.com/css/vcr-osd-mono');
@import '@fontsource-variable/dm-sans';
@import '@aamini/ui/globals.css';

:root {
	--header-size: 5rem;
	--font-family-sans: var(--font-dm-sans);
	--font-family-mono: 'VCR OSD Mono';
}

[id] {
	scroll-margin-top: var(--header-size);
}

.spinning-duck {
	background-image: url('/spinning-duck.gif');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
