name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: write
  statuses: write

env:
  TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
  TURBO_TEAM: ${{ vars.TURBO_TEAM }}

jobs:
  quality-checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: 'pnpm'
      - run: pnpm i
      - run: pnpm turbo run format typecheck lint test:unit

  integration-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: 'pnpm'
      - run: pnpm i
      - run: pnpm exec playwright install --with-deps chromium
      - run: pnpm test:integration

  find-apps:
    runs-on: ubuntu-latest
    outputs:
      apps: ${{ steps.calculate-apps.outputs.apps }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Get Changed Apps
        id: calculate-apps
        run: |
          FILTER="{./apps/*}...[HEAD~...HEAD]"
          APPS=$(npx turbo@2.5.8 build --filter="$FILTER" --dry=json | jq -c .packages)
          echo $APPS
          echo "apps=$APPS" >> $GITHUB_OUTPUT

  e2e:
    needs: [find-apps]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        app: ${{ fromJson(needs.find-apps.outputs.apps) }}
      fail-fast: false
    steps:
      # Setup
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: 'pnpm'
      - run: pnpm i
      - run: pnpm exec playwright install --with-deps chromium

      - name: Run Playwright tests against staging
        working-directory: './apps/${{ matrix.app }}'
        run: pnpm e2e:staging

      - name: Publish Report
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: playwright-report-${{ matrix.app }}
          path: './apps/${{ matrix.app }}/playwright-report'
          retention-days: 30
